.app-wrapper {
    display: grid;
    width: 1120px;
    margin: 0 auto;
    grid-template-areas:
    "header header header"
    "nav content content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 20px;
}

.app-wrapper-content {
    grid-area: content;
    background-color: gold;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}
